$color-success: #269800;
$color-warning: #F0B322;
$color-information: #3AB3B9;
$color-error: #CC362C;

mat-icon {
  margin: auto 0;
  font-size: 30px;
  height: auto;
  width: auto;
  &.success {
    color: $color-success;
  }
  &.warning {
    color: $color-warning;
  }
  &.information {
    color: $color-information;
  }
  &.error {
    color: $color-error;
  }
}

div.snackbar {
  display: flex;
  cursor: pointer;
  padding: 0 15px;
  min-height: 50px;
  &.success {
    color: $color-success;
  }
  &.warning {
    color: $color-warning;
  }
  &.information {
    color: $color-information;
  }
  &.error {
    color: $color-error;
  }
  &:hover {
    background: #f2f2f2;
  }
}

div.icon {
  margin: auto 0;
  display: flex;
}

div.actions {
  margin: auto 0 auto 15px;
  display: flex;
}

div.content {
  max-width: 310px;
  margin: auto 0;
  display: grid;
}

button.btnAction.mat-button {
  height: 39px;
  margin: auto 0;
}

.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.28), 0 6px 10px 0 rgba(0, 0, 0, 0.59), 0 1px 18px 0 rgba(0, 0, 0, 0.41);
}
