<div class="backgroung">
  <div class="loader" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <flipped-card class="flipped" *ngFor="let player1 of playerOne; let i = index"
    [id]="player1.name"
    [ngStyle]="{'left' : (player1.position), 'z-index': (playerOne.length - i)}"
    [width]="'268px'"
    [height]="'462px'"
    [(rotate)]="player1.side">
      <mat-card front class="player1" >
        <mat-card-header>
          <mat-card-title>{{player1.Name}}</mat-card-title>
        </mat-card-header>
        <div class="zoom">
          <img mat-card-image [src]="imgLoad(player1?.thumbnail)">
        </div>
        <mat-card-content>
          <div class="statistics" (click)="choiceFeature('intelligence', 'player1')">
            <span class="title-statistics">Inteligência: </span>
            <span class="value">{{player1?.intelligence}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('strength', 'player1')">
            <span class="title-statistics">Força: </span>
            <span class="value">{{player1?.strength}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('speed', 'player1')">
            <span class="title-statistics">Rapidez: </span>
            <span class="value">{{player1?.speed}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('durability', 'player1')">
            <span class="title-statistics">Durabilidade: </span>
            <span class="value">{{player1?.durability}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('energy', 'player1')">
            <span class="title-statistics">Energia: </span>
            <span class="value">{{player1?.energy}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('combat', 'player1')">
            <span class="title-statistics">Combate: </span>
            <span class="value">{{player1?.combat}}</span>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card verse class="player1 back-card">
        <img class="img-back-card" mat-card-image src="assets/images/image_not_available.jpg">
      </mat-card>
    </flipped-card>

    <div class="center">
      <div class="timer">
        <span class="time-rest">00:{{timeLeft}}s</span>
      </div>
      <div class="cards-deck">
        Cartas no Baralho (P1: {{playerOne.length}}/ P2: {{playerTwo.length}})
      </div>
      <button mat-raised-button color="primary" (click)="quitGame()">Quit Game</button>
    </div>

    <flipped-card class="flipped" *ngFor="let player2 of playerTwo; let i = index"
    [ngStyle]="{'left' : (player2.position), 'z-index': (playerTwo.length - i)}"
    [width]="'268px'"
    [height]="'462px'"
    [(rotate)]="player2.side">
      <mat-card front class="player2" >
        <mat-card-header>
          <mat-card-title>{{player2.Name}}</mat-card-title>
        </mat-card-header>
        <div class="zoom">
          <img mat-card-image [src]="imgLoad(player2?.thumbnail)">
        </div>
        <mat-card-content>
          <div class="statistics" (click)="choiceFeature('intelligence', 'player2')">
            <span class="title-statistics">Inteligência: </span>
            <span class="value">{{player2?.intelligence}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('strength', 'player2')">
            <span class="title-statistics">Força: </span>
            <span class="value">{{player2?.strength}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('speed', 'player2')">
            <span class="title-statistics">Rapidez: </span>
            <span class="value">{{player2?.speed}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('durability', 'player2')">
            <span class="title-statistics">Durabilidade: </span>
            <span class="value">{{player2?.durability}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('energy', 'player2')">
            <span class="title-statistics">Energia: </span>
            <span class="value">{{player2?.energy}}</span>
          </div>
          <div class="statistics" (click)="choiceFeature('combat', 'player2')">
            <span class="title-statistics">Combate: </span>
            <span class="value">{{player2?.combat}}</span>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card verse class="player2 back-card" >
        <img class="img-back-card" mat-card-image src="assets/images/image_not_available.jpg">
      </mat-card>
    </flipped-card>
  </div>
</div>