<div *ngIf="(lazyLoadComics.error || lazyLoadSeries.error || lazyLoadStories.error)">
  <error></error>
</div>
<div *ngIf="(!lazyLoadComics.error && !lazyLoadSeries.error && !lazyLoadStories.error)">
  <header id="header">
    <h1>{{selectedTab === 0 ? 'Comics' : selectedTab === 1 ? 'Series' : 'Stories'}} {{nameCharacter}}</h1>
  </header>
  <filter-and-search-bar
  [@barFilterPosition]="fixar"
  (orderBy)="orderBy($event)"
  (orderByName)="orderByName($event)"
  (searchBy)="searchBy($event)">
  </filter-and-search-bar>
  <mat-tab-group [backgroundColor]="'accent'" [(selectedIndex)]="selectedTab" (selectedIndexChange)="tabChange()">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">view_quilt</mat-icon>
        Comics
      </ng-template>
      <div *ngFor="let comic of comics; let i = index" class="characters">
        <mat-card class="example-card" (click)="navigationService.openNewTabAndRedirect(comic?.urls[0]?.url)">
          <div class="border-bottom-card"></div>
          <mat-card-header>
            <div mat-card-avatar class="header-image">
              <mat-icon (mouseenter)="comic.favorite = !comic.favorite" (mouseleave)="comic.favorite = !comic.favorite"
                (click)="marcarFavorito(comic.favorite, comic)" class="favorite" [class.star]="comic.favorite">{{comic.favorite
                ? 'star' : 'star_border'}}</mat-icon>
            </div>
            <mat-card-title>{{comic.title}}</mat-card-title>
            <mat-card-subtitle>Modificado em: {{dateUtil.formatDate(comic.modified, 'dd/mm/yyyy')}}</mat-card-subtitle>
          </mat-card-header>
          <div class="zoom">
            <img mat-card-image [src]="imgLoad(comic?.thumbnail)">
          </div>
        </mat-card>
        <mat-card *ngIf="comic.showDetails" class="details-character">
          <mat-card-content>
            <h2>
              {{comic.title}}
              <mat-icon class="close" (click)="comic.showDetails = !comic.showDetails">close</mat-icon>
            </h2>
            <div>
              <span class="subtitle">Personagens:</span>
              <p><span *ngFor="let charac of comic.characters.items" class="elenco">{{charac.name}}; </span></p>
            </div>
            <div>
              <span class="subtitle">Criadores:</span>
              <p><span *ngFor="let creator of comic.creators.items" class="elenco">{{creator.name}} ({{creator.role}});
                </span></p>
            </div>
            <div>
              <span class="subtitle">Resumo:</span>
              <p class="elenco">
                {{comic.description === '' ? 'Sem descrição' : comic.description}}
              </p>
            </div>
            <div *ngIf="comic.reader">
              <button mat-stroked-button color="warn" (click)="read(comic.digitalId)">Link para Leitura</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <a class="end-results" *ngIf="endComics" [href]="path">
          <mat-icon>keyboard_arrow_up</mat-icon><span>Fim dos Resultados</span><mat-icon>keyboard_arrow_up</mat-icon>
        </a>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">video_library</mat-icon>
        Series
      </ng-template>
      <mat-card class="example-card" *ngFor="let serie of series; let i = index">
        <div class="border-bottom-card"></div>
        <mat-card-header>
          <div mat-card-avatar class="header-image">
            <mat-icon (mouseenter)="serie.favorite = !serie.favorite" (mouseleave)="serie.favorite = !serie.favorite"
              (click)="marcarFavorito(serie.favorite, serie)" class="favorite" [class.star]="serie.favorite">{{serie.favorite
              ? 'star' : 'star_border'}}</mat-icon>
          </div>
          <mat-card-title>{{serie.title}}</mat-card-title>
          <mat-card-subtitle>Modificado em: {{dateUtil.formatDate(serie.modified, 'dd/mm/yyyy')}}</mat-card-subtitle>
        </mat-card-header>
        <div class="zoom">
          <img mat-card-image [src]="imgLoad(serie?.thumbnail)">
        </div>
      </mat-card>
      <div>
        <a class="end-results" *ngIf="endSeries" [href]="path">
          <mat-icon>keyboard_arrow_up</mat-icon><span>Fim dos Resultados</span><mat-icon>keyboard_arrow_up</mat-icon>
        </a>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">library_books</mat-icon>
        Stories
      </ng-template>
      <mat-card class="example-card" *ngFor="let storie of stories; let i = index">
        <div class="border-bottom-card"></div>
        <mat-card-header>
          <div mat-card-avatar class="header-image">
            <mat-icon (mouseenter)="storie.favorite = !storie.favorite" (mouseleave)="storie.favorite = !storie.favorite"
              (click)="marcarFavorito(storie.favorite, serie)" class="favorite" [class.star]="storie.favorite">{{storie.favorite
              ? 'star' : 'star_border'}}</mat-icon>
          </div>
          <mat-card-title>{{storie.title}}</mat-card-title>
          <mat-card-subtitle>Modificado em: {{dateUtil.formatDate(storie.modified, 'dd/mm/yyyy')}}</mat-card-subtitle>
        </mat-card-header>
        <div class="zoom">
          <img mat-card-image [src]="imgLoad(storie?.thumbnail)">
        </div>
      </mat-card>
      <div>
        <a class="end-results" *ngIf="endStories" [href]="path">
          <mat-icon>keyboard_arrow_up</mat-icon><span>Fim dos Resultados</span><mat-icon>keyboard_arrow_up</mat-icon>
        </a>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<gooey-ring-loader *ngIf="(lazyLoadComics.loading || lazyLoadSeries.loading || lazyLoadStories.loading)"></gooey-ring-loader>