// The margin between two sections
$margin-promotion-sections: 10px;
$margin-promotion-sections-small: 15px;

/**
* Rules for when the device is detected to be a small screen.
*/
@media (max-width: 720px) {
  .docs-header-section {
    padding-top: $margin-promotion-sections-small;
  }
}

@media (max-width: 800px) {
  img.marvel-ultimate {
    display: none;
  }
}

div.docs-header-section {
  text-align: center;
  padding-top: $margin-promotion-sections;
}

div.docs-header-headline {
  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

div.homepage-background {
  display: flex;
  min-height: 335px;
  height: 58%;
}

div.details-character {
  display: initial;
  margin: auto 10%;
}

header.docs-header-background {
  overflow: hidden;
  color: #fff;
}

img.marvel {
  vertical-align: top;
  width: 137px;
}