<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Heróis da <img src="assets/images/logo-marvel.svg" class="marvel"></h1>
      <h2>Tudo sobre os seus Heróis</h2>
    </div>
  </div>
</header>
<div class="homepage-background">
  <div class="container-marvel-ultimate">
    <img class="marvel-ultimate" src="assets/images/Backgrounds/marvel-ultimate.jpg">
  </div>
  <div class="details-character">
    <h2>Aqui você vai encontrar historias e mais informações dos Personagens</h2>
    <button mat-raised-button color="primary" routerLink="/heroes-and-villains">Ver</button>
  </div>
</div>