.container {
  position: absolute;
  top: calc(50% - 139.5px);
  left: calc(50% - 241px);
  // top: calc(50% - 155px);
  // left: calc(50% - 158px);
  margin: 0 auto;
  text-align: center;
}

.error-code {
  font-size: 150px;
  text-align: center;
  line-height: 1;
  margin-bottom: 16px;
  font-weight: 500;
}

.message,
.sub-message {
  color: rgba(0, 0, 0, .54);
}

.message {
  font-size: 30px;
  text-align: center;
}

.back-link {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}