// @import '~@angular/material/theming';
// // @mixin notification-color($color, $default: 500, $darker: 700) {
//   color: mat-contrast($color, $default);
//   background: mat-color($color, $default);
//   .notification-item-buttons {
//     background: mat-color($color, $darker);
//   }
//   .notification-button-close {
//     &:hover {
//       background-color: mat-color($color, $darker + 200);
//     }
//   }
//   mat-progress-bar {
//     .mat-progress-bar-fill {
//       &::after {
//         background-color: mat-color($color, $darker) !important;
//       }
//     }
//   }
// }
notification-area {
  notification-item {
    &.success {
      background-color: #fff !important;
      font-size: 12px !important;
      color: #3C763D !important;
      border-radius: 4px !important;
      border: 0.14em solid #8EB021 !important;
    }
    &.success>.notification-item-areas>.notification-item-icon {
      background-color: #8EB021 !important;
    }
    &.error {
      background-color: #fff !important;
      font-size: 12px !important;
      color: #A94442 !important;
      border-radius: 4px !important;
      border: 0.14em solid #D04437 !important;
    }
    &.error>.notification-item-areas>.notification-item-icon {
      background-color: #D04437 !important;
    }
    &.warn {
      background-color: #fff !important;
      font-size: 12px !important;
      color: #8A6D3B !important;
      border-radius: 4px !important;
      border: 0.14em solid #F6C345 !important;
    }
    &.warn>.notification-item-areas>.notification-item-icon {
      background-color: #F6C345 !important;
    }
    &.info {
      background-color: #fff !important;
      font-size: 12px !important;
      color: #137E84 !important;
      border-radius: 4px !important;
      border: 0.14em solid #3572B0 !important;
    }
    &.info>.notification-item-areas>.notification-item-icon {
      background-color: #3572B0 !important;
    }
  }
}

.success {
  & notification-item-icon {
    background-color: #CC362C !important;
  }
}