div.background {
  width: 100%;
  height: 100vh;
  background: url(../../../assets/images/back-login.jpg) no-repeat top center scroll;
  background-size: cover;
  display: table;
}

mat-card.register.mat-card {
  position: absolute;
  width: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 275px);
  background: rgba(66, 66, 66, 0.8);
}

mat-card.register img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
}

mat-card-header.register.mat-card-header {
  display: initial;
}

h1.register {
  text-align: center;
  margin: 0px;
}

.register {
  text-align: center;
  padding: 10px 0;
}

mat-horizontal-stepper.mat-stepper-horizontal {
  margin: 0 20px;
}

mat-radio-button.mat-radio-button {
  display: inline-block;
  margin: 20px 5px;
}

.text-sex {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
  font-size: 16px;
}
