<div class="background">
  <mat-card class="register">
    <mat-card-header class="register">
      <h1 class="register">Registrar-se</h1>
    </mat-card-header>
    <mat-card-content class="register">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="dataPersonal" [editable]="true">
          <form [formGroup]="dataPersonal">
            <ng-template matStepLabel>Dados Pessoais</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nome Completo" formControlName="name" [(ngModel)]="userInformation.name" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" formControlName="dtBirth" [(ngModel)]="datePickerValue" placeholder="Data de Nascimento" (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
            <div class="text-sex">Sexo:</div>
            <mat-radio-group [(ngModel)]="userInformation.sex" formControlName="sex" required>
              <mat-radio-button value="m">Masculino</mat-radio-button>
              <mat-radio-button value="f">Feminino</mat-radio-button>
            </mat-radio-group>
            <div align="center">
              <button mat-raised-button matStepperNext color="primary" [disabled]="!dataPersonal.valid">Continuar</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="dataUser" [editable]="false">
          <form [formGroup]="dataUser">
            <ng-template matStepLabel>Confirmação de Cadastro</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nome de Usuário" formControlName="user" [(ngModel)]="userInformation.user" required>
              <mat-hint align="end">6 - ∞</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" [(ngModel)]="userInformation.email" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Senha" formControlName="password" [(ngModel)]="userInformation.password" required>
              <mat-hint align="end">6 - ∞</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Confirme a Senha" formControlName="confirmPassword" [(ngModel)]="userInformation.confirmPassword" required>
              <mat-hint align="end">6 - ∞</mat-hint>
            </mat-form-field>
            <div align="center">
              <button mat-raised-button color="primary" [disabled]="!dataUser.valid" (click)="registerUser(stepper)">
                Confirmar Cadastro
                <mat-spinner *ngIf="registerLoad" color="accent"></mat-spinner>
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="confirmation" [editable]="false">
          <form [formGroup]="confirmation">
            <ng-template matStepLabel>Conclusão</ng-template>
            <mat-form-field>
              <input matInput placeholder="Código de Confirmação" formControlName="cdConfirmation" [(ngModel)]="userInformation.cdConfirmation" required>
              <mat-hint align="end">5 - ∞</mat-hint>
            </mat-form-field>
            <div align="center">
              <button mat-raised-button matStepperNext color="primary" [disabled]="!confirmation.valid" (click)="confirmRegister()">Finalizar Cadastro</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>