.material, .fontawesome {
    font-size: 35px !important;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
}

.text-icon {
    color: black !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div-icons {
    display: grid;
    float: left;
    width: 16.66%;
    height: 100px;
    text-align: center;
}