<mat-card>
    <mat-card-title>
      <span>Catálogo de Icones</span>
    </mat-card-title>
    <mat-card-content>
      <div>
        <mat-radio-group [(ngModel)]="optionSelected" >
          <mat-radio-button [value]="option" [checked]="optionSelected === option" *ngFor="let option of options">
            <span class="text-status">{{option}}</span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-divider></mat-divider><br>
      <div *ngIf="optionSelected === 'Icones Material'" style="display: inline-block;">
        <div class="div-icons" *ngFor="let icon of iconsMaterial">
          <mat-icon class="material">{{icon}}</mat-icon>
          <span class="text-icon">{{icon}}</span>
        </div>
      </div>
      <div *ngIf="optionSelected === 'Icones FontAwesome'" style="display: inline-block;">
        <div class="div-icons" *ngFor="let icon of iconsFontAwesome">
          <i [class]="'fontawesome fa ' + 'fa-' + icon"></i>
          <span class="text-icon">{{icon}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  