.bar {
    width: 30%;
    padding-right: 20px;
}

.order-by, .class-by {
    display: inline-flex;
    width: 280px;
}

.mat-hint {
    font-size: 0.8em;
}

mat-card {
    background-color: rgba(31, 30, 30, 0.95);
    padding: 0 24px;
}